<ion-content [style.background-image]="sanitizeImage(urlImage)">
  <header class="login-page-header">SocialBuoy</header>
  <ion-card>
    <ion-card-header>
      Login
    </ion-card-header>
    <ion-card-content>
      <ion-list no-lines>
          <div class="spacer" style="height: 10px;"></div>
        <ion-item>
          <ion-input type="email" placeholder="Email" [(ngModel)]="credentials.email"></ion-input>
        </ion-item>
          <div class="spacer" style="height: 5px;"></div>
        <ion-item>
          <ion-input type="password" placeholder="Password" [(ngModel)]="credentials.password"></ion-input>
        </ion-item>
        <button ion-button block round outline color="light" (click)="signin()">Login</button>
          <div class="spacer" style="height: 10px;"></div>
        <p>OR</p>
        <button ion-button clear full color="light" (click)="signup()">Don't have an account? Sign up</button>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
