<ion-tabs color="newcolor" #tabs>
  <ion-tab [root]="tab1" tabTitle="Posts" tabIcon="clipboard"></ion-tab>
  <ion-tab [root]="tab2" tabTitle="Chats" tabIcon="chatbubbles"></ion-tab>
  <ion-tab [root]="tab3" tabTitle="Profile" tabIcon="contact"></ion-tab>
</ion-tabs>
