page-viewprofile {
  .common-text{
    font-size: 17px;
  }
  .common-text-para{
    font-size: 15px;
  }

  .common-text-ratings{
    font-size: 14px;
  }
  .card-ios{
    margin: 0;
  }
  .card-ios{
    margin-bottom: 10px;
  }
  .card-content-ios{
    font-size: 15px;
  }
  .title-list-elements{
    font-size: 15px;
  }

  .header-profile-class{
    color:#03b6b3 ;
  }
}
