<ion-header>
  <ion-navbar color="newcolor">
    <ion-title>Profile Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines padding>
    <h5 class="header-profile-class"><b>Nickname</b></h5>
    <div class="common-text">
      <b>{{nickname}}</b>
    </div>
    <h5 class="header-profile-class" ><b>Posts</b></h5>
    <div *ngIf="titleArray.length>0">
        <p class="common-text-para">
          There are a total of <b>{{titleArray.length}}</b> posts created. <br>
          The latest ones are:
        </p>
    </div>
    <div *ngIf="titleArray.length===0">
        <p #paraTwo class="common-text-para">
          There are a total of <b>{{titleArray.length}}</b> posts created.
        </p>
    </div>
   <ul *ngFor="let title of titleArray.slice(-3).reverse(); let i=index">
     <li class="title-list-elements"><b>{{title}}</b></li>
    </ul>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list radio-group [(ngModel)]="ratings">
        <h5 class="header-profile-class" ><b>Ratings</b></h5>
        <div *ngIf="ratingsArray?.length > 0">
          <span><i>** Average ratings till now: <b>{{averageRating}}/3</b></i> **</span>
        </div>
        <div *ngIf="ratingsArray?.length==0">
          <span><i>** No ratings given to the user yet</i> **</span>
        </div>
        <p class="common-text-ratings"> Click on one of the options below to rate the user from your experience</p>
        <ion-item>
            <ion-label>Bad</ion-label>
            <ion-radio value="bad"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Good</ion-label>
            <ion-radio value="good"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Excellent</ion-label>
            <ion-radio value="excellent"></ion-radio>
        </ion-item>
      <div class="spacer" style="height: 10px;"></div>
          <ion-buttons>
            <button ion-button round color="newcolor" (click)="rateUser(ratings)">Rate</button>
          </ion-buttons>
    </ion-list>
  </ion-list>
</ion-content>
