<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="newcolor">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <h5>Nickname: {{displayName}}</h5>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <div>
    <button ion-button round outline color="danger" (click)="logout()">Logout</button>
  </div>
</ion-content>
