<ion-header>
  <ion-navbar color="newcolor">
    <ion-title>Post Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
   <ion-list no-lines padding>
      <div class="spacer" style="height: 10px;"></div>
        <h5 class="header-profile-class" ><b>Nickname</b></h5>
        <div class="common-text">
          {{nickname}}
        </div>
        <h5 class="header-profile-class" ><b>Title</b></h5>
         <div class="common-text">
          {{PostTitle}}
        </div>
        <h5 class="header-profile-class" ><b>Description</b></h5>
        <div class="common-text">
          {{PostDescription}}
        </div>
      <div class="spacer" style="height: 10px;"></div>
    <ion-buttons *ngIf="showLogin!=true">
      <button ion-button round color="newcolor" (click)="sendreq(UserID)">Request Chat</button>
    </ion-buttons>
   </ion-list>
</ion-content>
