page-post {

  a{
    text-decoration: none;
  }
  .card-ios p {
    font-size: 1.2rem;

  }

  //.hover-over-card:hover{
  //  background-color: #03b6b3;
  //  font-weight: bold;
  //  cursor: pointer;
  //  .card-title-ios
  //  {
  //    color: white;
  //  }
  //
  //}


  .button-ios {
    height: 1.8em;
  }

  .button-round-ios {
    padding: 0 1.6rem;
}


  .card-title-ios{
    padding: 6px 0;
  }

  .card-title-md{
    font-size: 2.0rem;
  }
}
