<ion-header>

  <ion-navbar color="newcolor">
    <ion-title>Posts</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Search by post title.." (ionInput)="getItems($event)"></ion-searchbar>
    <ion-card *ngFor="let obj of itemSearchList; let i = index">
        <ion-card-content *ngIf="obj.item!=null">
          <ion-card-title>
            <span>{{obj.item }}</span>
          </ion-card-title>
            <p class="post-nickname"><b>{{obj.displayName}}</b></p>
          <ion-buttons text-right>
            <button ion-button round color="newcolor" (click)="userProfilePost(obj.item, obj.desc, obj.displayName, obj.uid)">Details</button>
          </ion-buttons>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer style="text-align: center; padding: 5px;">
  <button ion-button round color="newcolor" (click)="createPost()">Add new post</button>
</ion-footer>
