
<ion-header>

  <ion-navbar color="newcolor">
    <ion-title>Chats</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list-header style="text-align: center;" *ngIf="myrequests!=null">Requests</ion-list-header>
    <ion-card *ngFor="let req of myrequests; let i=index">
      <ion-card-content>
        <h3><b>{{i+1}}: {{req.displayName}}</b></h3>
        <button ion-button color="secondary" (click)="accept(req)">
          <ion-icon name="checkmark"></ion-icon>Accept</button>
        <button ion-button color="danger" (click)="ignore(req)">
          <ion-icon name="trash"></ion-icon>Decline</button>
        <button ion-button color="primary" (click)="viewProfile(req)">
          <ion-icon name="contact"></ion-icon>Profile</button>
      </ion-card-content>
    </ion-card>
    <ion-list-header style="text-align: center;">Friends</ion-list-header>
    <ion-card *ngFor="let item of myfriends; let i=index">
      <ion-card-content>
        <h2><b>{{item.displayName}}</b></h2>
        <button ion-button color="secondary" (click)="buddychat(item)">Chat</button>
        <button ion-button color="danger" (click)="blockuser(item)">Block</button>
        <button ion-button color="primary" (click)="viewProfile(item)">Profile</button>
      </ion-card-content>
    </ion-card>


</ion-content>
