page-chats {

  .button-ios{
    height: 1.8em;
    font-size: 1.4rem;
  }

  .card-content-md{
    text-align: center !important;
   font-weight: bolder;
  }
  .button-md{
    text-transform: none !important;
    cursor: pointer !important;

  }

}
