<ion-content [style.background-image]="sanitizeImage(urlImage)">
  <header class="login-page-header">SocialBuoy</header>
  <ion-card>
  <ion-card-header>
    Signup
  </ion-card-header>
  <ion-card-content>
     <ion-list >
       <ion-item>
           <ion-input type="email" placeholder="Email" [(ngModel)]="newuser.email" required></ion-input>
       </ion-item>
       <ion-item>
           <ion-input type="password" placeholder="Password" [(ngModel)]="newuser.password" required></ion-input>
       </ion-item>
       <ion-item>
           <ion-input type="text" placeholder="Nick Name" [(ngModel)]="newuser.displayName" required></ion-input>
       </ion-item>
      <button ion-button block round outline color="light" (click)="signup()">Sign Up</button>
      <button ion-button full clear color="light" (click)="goback()">Go Back</button>
     </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
