<!--
  Generated template for the CreatepostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="newcolor">
    <ion-title>Create New Post</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
            <div class="spacer" style="height: 10px;"></div>
          <ion-item>
            <ion-label color="newcolor" stacked>Title</ion-label>
            <ion-input type="text" placeholder="Enter Title" [(ngModel)] = "userdata.title" maxlength="30"></ion-input>
          </ion-item>
            <div class="spacer" style="height: 5px;"></div>
          <ion-item>
           <ion-label color="newcolor" stacked>Description</ion-label>
            <ion-input type="text" placeholder="Enter Problem Description" [(ngModel)] = "userdata.description"></ion-input>
          </ion-item>
            <div class="spacer" style="height: 10px;"></div>
          <ion-buttons>
            <button ion-button round color="newcolor" (click)="postData(userdata.title, userdata.description)">Post</button>
          </ion-buttons>
        </ion-list>
</ion-content>
